---


import Layout from "../layouts/Layout.astro";
import Highlights from "../components/Highlights.astro";
---
<Layout title="Coffee">
  
  <section class="p-6 pt-20">
    <img src="https://santistadecora.com.br/dicas/wp-content/uploads/2021/11/MG_5002-2-scaled.jpg)" alt="">
  </section>


  <Highlights/>
</Layout>
